<a href="https://colab.research.google.com/github/rmhanna/Randa/blob/main/Practice%20With%20Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# Imports
import pandas as pd
import numpy as np
import ssl

# Fix SSL certificate issue
ssl._create_default_https_context = ssl._create_unverified_context

# Load NBA dataset
nba = pd.read_csv("https://raw.githubusercontent.com/harmanani/AAI614/main/Week%202/nba.csv")

print(nba)
# Basic Series dtype check
print(pd.Series([1, 2, 3]).dtype)

# DataFrame structure
print(nba.dtypes)
print(nba.dtypes.value_counts())
print(nba.index)
print(nba.columns)
print(nba.ndim)
print(nba.shape)
print(nba.size)
print(nba.count())
print(nba.count().sum())

# Handling missing data
data = {
    "A": [1, np.nan],
    "B": [2, 3]
}
df = pd.DataFrame(data)
print(df)
print(df.size)
print(df.count())
print(df.count().sum())

# Shared methods between Series and DataFrames
print(nba.head(2))
print(nba.tail(3))
print(nba.sample(3))
print(nba.nunique())
print(nba.max(numeric_only=True))
print(nba.min(numeric_only=True))
print(nba.nlargest(4, "Salary"))

# Convert Birthday to datetime
nba["Birthday"] = pd.to_datetime(nba["Birthday"])
print(nba.nsmallest(3, "Birthday"))

# Summary statistics
print(nba.sum(numeric_only=True))
print(nba.mean(numeric_only=True))
print(nba.median(numeric_only=True))
print(nba.mode(numeric_only=True))
print(nba.std(numeric_only=True))

# Sorting
print(nba.sort_values("Name").head())
print(nba.sort_values("Name", ascending=False).head())
print(nba.sort_values("Birthday", ascending=False).head())
print(nba.sort_values(["Team", "Name"]).head())
print(nba.sort_values(["Team", "Salary"], ascending=[True, False]).head())

# Sorting by index
nba = nba.sort_index()
print(nba.sort_index(ascending=False).head())
print(nba.sort_index(axis=1).head())
print(nba.sort_index(axis=1, ascending=False).head())

# Setting index
nba = nba.set_index("Name")

# Selecting columns
print(nba["Salary"].head())
print(nba["Position"].head())
print(nba[["Salary", "Birthday"]].head())
print(nba.select_dtypes(include="object").head())
print(nba.select_dtypes(exclude=["object", "int"]).head())

# Selecting rows by label
print(nba.loc["LeBron James"])
print(nba.loc[["Kawhi Leonard", "Paul George"]])
print(nba.sort_index().loc["Otto Porter":"Patrick Beverley"])
print(nba.sort_index().loc["Zach Collins":])
print(nba.sort_index().loc[:"Al Horford"])

# Selecting rows by position
print(nba.iloc[300])
print(nba.iloc[[100, 200, 300, 400]])
print(nba.iloc[400:404])
print(nba.iloc[:2])
print(nba.iloc[-10:-6])
print(nba.iloc[0:10:2])

# Extracting specific values
print(nba["Team"].loc["Giannis Antetokounmpo"])
print(nba.loc["James Harden", ["Position", "Birthday"]])
print(nba.loc[["Russell Westbrook", "Anthony Davis"], ["Team", "Salary"]])
print(nba.loc["Joel Embiid", "Position":"Salary"])
print(nba.iloc[57, 3])
print(nba.iloc[100:104, :3])
print(nba.at["Austin Rivers", "Birthday"])
print(nba.iat[263, 1])

# Extracting from Series
print(nba["Salary"].loc["Damian Lillard"])
print(nba["Salary"].at["Damian Lillard"])
print(nba["Salary"].iloc[234])
print(nba["Salary"].iat[234])

# Renaming columns and rows
nba.columns = ["Team", "Position", "Date of Birth", "Pay"]
nba = nba.rename(columns={"Date of Birth": "Birthday"})
nba = nba.rename(index={"Giannis Antetokounmpo": "Greek Freak"})
print(nba.loc["Greek Freak"])

# Resetting index
nba = nba.reset_index().set_index("Team")
print(nba.head())

               Name                 Team Position  Birthday    Salary
0      Shake Milton   Philadelphia 76ers       SG   9/26/96   1445697
1    Christian Wood      Detroit Pistons       PF   9/27/95   1645357
2     PJ Washington    Charlotte Hornets       PF   8/23/98   3831840
3      Derrick Rose      Detroit Pistons       PG   10/4/88   7317074
4     Marial Shayok   Philadelphia 76ers        G   7/26/95     79568
..              ...                  ...      ...       ...       ...
445   Austin Rivers      Houston Rockets       PG    8/1/92   2174310
446     Harry Giles     Sacramento Kings       PF   4/22/98   2578800
447     Robin Lopez      Milwaukee Bucks        C    4/1/88   4767000
448   Collin Sexton  Cleveland Cavaliers       PG    1/4/99   4764960
449     Ricky Rubio         Phoenix Suns       PG  10/21/90  16200000

[450 rows x 5 columns]
int64
Name        object
Team        object
Position    object
Birthday    object
Salary       int64
dtype: object
object    4
int64     1
Name: count, dtype: int64
RangeIndex(start=0, stop=450, step=1)
Index(['Name', 'Team', 'Position', 'Birthday', 'Salary'], dtype='object')
2
(450, 5)
2250
Name        450
Team        450
Position    450
Birthday    450
Salary      450
dtype: int64
2250
     A  B
0  1.0  2
1  NaN  3
4
A    1
B    2
dtype: int64
3
             Name                Team Position Birthday   Salary
0    Shake Milton  Philadelphia 76ers       SG  9/26/96  1445697
1  Christian Wood     Detroit Pistons       PF  9/27/95  1645357
              Name                 Team Position  Birthday    Salary
447    Robin Lopez      Milwaukee Bucks        C    4/1/88   4767000
448  Collin Sexton  Cleveland Cavaliers       PG    1/4/99   4764960
449    Ricky Rubio         Phoenix Suns       PG  10/21/90  16200000
                Name                    Team Position  Birthday    Salary
203  Carmelo Anthony  Portland Trail Blazers       PF   5/29/84   2159029
245    Julius Randle         New York Knicks        C  11/29/94  18000000
349    Jarrett Allen           Brooklyn Nets        C   4/21/98   2376840
Name        450
Team         30
Position      9
Birthday    430
Salary      269
dtype: int64
Salary    40231758
dtype: int64
Salary    79568
dtype: int64
                  Name                   Team Position  Birthday    Salary
205      Stephen Curry  Golden State Warriors       PG   3/14/88  40231758
38          Chris Paul  Oklahoma City Thunder       PG    5/6/85  38506482
219  Russell Westbrook        Houston Rockets       PG  11/12/88  38506482
251          John Wall     Washington Wizards       PG    9/6/90  38199000
              Name             Team Position   Birthday   Salary
98    Vince Carter    Atlanta Hawks       PF 1977-01-26  2564753
196  Udonis Haslem       Miami Heat        C 1980-06-09  2564753
262    Kyle Korver  Milwaukee Bucks       PF 1981-03-17  6004753
Salary    3444112694
dtype: int64
Salary    7.653584e+06
dtype: float64
Salary    3303074.5
dtype: float64
   Salary
0   79568
Salary    9.288810e+06
dtype: float64
                  Name                   Team Position   Birthday    Salary
52        Aaron Gordon          Orlando Magic       PF 1995-09-16  19863636
101      Aaron Holiday         Indiana Pacers       PG 1996-09-30   2239200
437        Abdel Nader  Oklahoma City Thunder       SF 1993-09-25   1618520
81         Adam Mokoka          Chicago Bulls        G 1998-07-18     79568
399  Admiral Schofield     Washington Wizards       SF 1997-03-30   1000000
                Name                  Team Position   Birthday    Salary
248   Zylan Cheatham  New Orleans Pelicans       SF 1995-11-17     79568
137  Zion Williamson  New Orleans Pelicans        F 2000-07-06   9757440
312     Zhaire Smith    Philadelphia 76ers       SG 1999-06-04   3058800
302     Zach Norvell    Los Angeles Lakers       SG 1997-12-09     79568
159      Zach LaVine         Chicago Bulls       PG 1995-03-10  19500000
                    Name                  Team Position   Birthday   Salary
136      Sekou Doumbouya       Detroit Pistons       SF 2000-12-23  3285120
432  Talen Horton-Tucker    Los Angeles Lakers       GF 2000-11-25   898310
137      Zion Williamson  New Orleans Pelicans        F 2000-07-06  9757440
313           RJ Barrett       New York Knicks       SG 2000-06-14  7839960
392         Jalen Lecque          Phoenix Suns        G 2000-06-13   898310
                Name           Team Position   Birthday    Salary
359         Alex Len  Atlanta Hawks        C 1993-06-16   4160000
167     Allen Crabbe  Atlanta Hawks       SG 1992-04-09  18500000
276  Brandon Goodwin  Atlanta Hawks       PG 1995-10-02     79568
438   Bruno Fernando  Atlanta Hawks        C 1998-08-15   1400000
194      Cam Reddish  Atlanta Hawks       SF 1999-09-01   4245720
                 Name           Team Position   Birthday    Salary
111  Chandler Parsons  Atlanta Hawks       SF 1988-10-25  25102512
28        Evan Turner  Atlanta Hawks       PG 1988-10-27  18606556
167      Allen Crabbe  Atlanta Hawks       SG 1992-04-09  18500000
213   De'Andre Hunter  Atlanta Hawks       SF 1997-12-02   7068360
339     Jabari Parker  Atlanta Hawks       PF 1995-03-15   6500000
              Name                 Team Position   Birthday    Salary
449    Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000
448  Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
447    Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
446    Harry Giles     Sacramento Kings       PF 1998-04-22   2578800
445  Austin Rivers      Houston Rockets       PG 1992-08-01   2174310
    Birthday            Name Position   Salary                Team
0 1996-09-26    Shake Milton       SG  1445697  Philadelphia 76ers
1 1995-09-27  Christian Wood       PF  1645357     Detroit Pistons
2 1998-08-23   PJ Washington       PF  3831840   Charlotte Hornets
3 1988-10-04    Derrick Rose       PG  7317074     Detroit Pistons
4 1995-07-26   Marial Shayok        G    79568  Philadelphia 76ers
                 Team   Salary Position            Name   Birthday
0  Philadelphia 76ers  1445697       SG    Shake Milton 1996-09-26
1     Detroit Pistons  1645357       PF  Christian Wood 1995-09-27
2   Charlotte Hornets  3831840       PF   PJ Washington 1998-08-23
3     Detroit Pistons  7317074       PG    Derrick Rose 1988-10-04
4  Philadelphia 76ers    79568        G   Marial Shayok 1995-07-26
Name
Shake Milton      1445697
Christian Wood    1645357
PJ Washington     3831840
Derrick Rose      7317074
Marial Shayok       79568
Name: Salary, dtype: int64
Name
Shake Milton      SG
Christian Wood    PF
PJ Washington     PF
Derrick Rose      PG
Marial Shayok      G
Name: Position, dtype: object
                 Salary   Birthday
Name
Shake Milton    1445697 1996-09-26
Christian Wood  1645357 1995-09-27
PJ Washington   3831840 1998-08-23
Derrick Rose    7317074 1988-10-04
Marial Shayok     79568 1995-07-26
                              Team Position
Name
Shake Milton    Philadelphia 76ers       SG
Christian Wood     Detroit Pistons       PF
PJ Washington    Charlotte Hornets       PF
Derrick Rose       Detroit Pistons       PG
Marial Shayok   Philadelphia 76ers        G
                 Birthday
Name
Shake Milton   1996-09-26
Christian Wood 1995-09-27
PJ Washington  1998-08-23
Derrick Rose   1988-10-04
Marial Shayok  1995-07-26
Team         Los Angeles Lakers
Position                     PF
Birthday    1984-12-30 00:00:00
Salary                 37436858
Name: LeBron James, dtype: object
                               Team Position   Birthday    Salary
Name
Kawhi Leonard  Los Angeles Clippers       SF 1991-06-29  32742000
Paul George    Los Angeles Clippers       SF 1990-05-02  33005556
                                  Team Position   Birthday    Salary
Name
Otto Porter              Chicago Bulls       SF 1993-06-03  27250576
PJ Dozier               Denver Nuggets       PG 1996-10-25     79568
PJ Washington        Charlotte Hornets       PF 1998-08-23   3831840
Pascal Siakam          Toronto Raptors       PF 1994-04-02   2351838
Pat Connaughton        Milwaukee Bucks       SG 1993-01-06   1723050
Patrick Beverley  Los Angeles Clippers       PG 1988-07-12  12345680
                                   Team Position   Birthday    Salary
Name
Zach Collins     Portland Trail Blazers        C 1997-11-19   4240200
Zach LaVine               Chicago Bulls       PG 1995-03-10  19500000
Zach Norvell         Los Angeles Lakers       SG 1997-12-09     79568
Zhaire Smith         Philadelphia 76ers       SG 1999-06-04   3058800
Zion Williamson    New Orleans Pelicans        F 2000-07-06   9757440
Zylan Cheatham     New Orleans Pelicans       SF 1995-11-17     79568
                                    Team Position   Birthday    Salary
Name
Aaron Gordon               Orlando Magic       PF 1995-09-16  19863636
Aaron Holiday             Indiana Pacers       PG 1996-09-30   2239200
Abdel Nader        Oklahoma City Thunder       SF 1993-09-25   1618520
Adam Mokoka                Chicago Bulls        G 1998-07-18     79568
Admiral Schofield     Washington Wizards       SF 1997-03-30   1000000
Al Horford            Philadelphia 76ers        C 1986-06-03  28000000
Team             Denver Nuggets
Position                     PF
Birthday    1999-04-03 00:00:00
Salary                  1416852
Name: Jarred Vanderbilt, dtype: object
                                Team Position   Birthday   Salary
Name
Brian Bowen           Indiana Pacers       SG 1998-10-02    79568
Marco Belinelli    San Antonio Spurs       SF 1986-03-25  5846154
Jarred Vanderbilt     Denver Nuggets       PF 1999-04-03  1416852
Louis King           Detroit Pistons        F 1999-04-06    79568
                                    Team Position   Birthday    Salary
Name
Louis King               Detroit Pistons        F 1999-04-06     79568
Kostas Antetokounmpo  Los Angeles Lakers       PF 1997-11-20     79568
Rodions Kurucs             Brooklyn Nets       PF 1998-02-05   1699236
Spencer Dinwiddie          Brooklyn Nets       PG 1993-04-06  10605600
                              Team Position   Birthday   Salary
Name
Shake Milton    Philadelphia 76ers       SG 1996-09-26  1445697
Christian Wood     Detroit Pistons       PF 1995-09-27  1645357
                                    Team Position   Birthday   Salary
Name
Jared Dudley          Los Angeles Lakers       PF 1985-07-10  2564753
Max Strus                  Chicago Bulls       SG 1996-03-28    79568
Kevon Looney       Golden State Warriors        C 1996-02-06  4464286
Willy Hernangomez      Charlotte Hornets        C 1994-05-27  1557250
                             Team Position   Birthday    Salary
Name
Shake Milton   Philadelphia 76ers       SG 1996-09-26   1445697
PJ Washington   Charlotte Hornets       PF 1998-08-23   3831840
Marial Shayok  Philadelphia 76ers        G 1995-07-26     79568
Kendrick Nunn          Miami Heat       SG 1995-08-03   1416852
Brook Lopez       Milwaukee Bucks        C 1988-04-01  12093024
Milwaukee Bucks
Position                     PG
Birthday    1989-08-26 00:00:00
Name: James Harden, dtype: object
                                 Team    Salary
Name
Russell Westbrook     Houston Rockets  38506482
Anthony Davis      Los Angeles Lakers  27093019
Position                      C
Birthday    1994-03-16 00:00:00
Salary                 27504630
Name: Joel Embiid, dtype: object
796806
                             Team Position   Birthday
Name
Brian Bowen        Indiana Pacers       SG 1998-10-02
Aaron Holiday      Indiana Pacers       PG 1996-09-30
Troy Daniels   Los Angeles Lakers       SG 1991-07-15
Buddy Hield      Sacramento Kings       SG 1992-12-17
1992-08-01 00:00:00
PF
29802321
29802321
2033160
2033160
Team            Milwaukee Bucks
Position                     PF
Birthday    1994-12-06 00:00:00
Pay                    25842697
Name: Greek Freak, dtype: object
                              Name Position   Birthday      Pay
Team
Philadelphia 76ers    Shake Milton       SG 1996-09-26  1445697
Detroit Pistons     Christian Wood       PF 1995-09-27  1645357
Charlotte Hornets    PJ Washington       PF 1998-08-23  3831840
Detroit Pistons       Derrick Rose       PG 1988-10-04  7317074
Philadelphia 76ers   Marial Shayok        G 1995-07-26    79568

/tmp/ipython-input-930322213.py:48: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  nba["Birthday"] = pd.to_datetime(nba["Birthday"])